<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Food Hunting</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>

<h1>Good Food Hunting</h1>

  <%= yield %>

</body>
</html>
