<form action="/dishes" method="post">

  <label for="name">name</label>
  <input id="name" name="name" type="text">

  <label for=" ">image url</label>
  <input type="text" name="image_url">
  <button name="button">Post</button>
</form>
