<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css"> <!--static file-->
  </head>
  <body>
    <h1>TitleLator</h1>
    <form action="/titlelate" >
      <input type="text" name="keyword">
      <button>titlelate</button>
    </form>


          <form action="/details">
            <input type="text" name="title" placeholder = "Enter Movie">
            <button> Get Movie </button>
          </form>
  </body>
</html>
