

body {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
}

.done {
  text-decoration: line-through;
}
