<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Email</label>
  <input type="email" name="email" value="">
  <label for="">Password</label>
  <input type="password" name="" value="">
  <button>Login</button>
</form>
